{
	"name": "Recipe",
	"elements": {
		"73b5e51b-ae44-4fa0-bd08-004b214d36d0": {
			"name": "Content",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"ae0552fb-2462-45fe-bd69-d150ecc7dbdb": {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/recipes\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"6a85fe27-edcb-4d00-815c-6e8ab85fa743": {
			"name": "Intro Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/recipes\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"936e2e04-af1a-4712-ad02-fdefffd2ab91": {
			"name": "Teaser Image Square",
			"description": "",
			"access": "1",
			"upload_directory": "images\/recipes\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"ea000743-a584-4dd9-957e-b45ec6354e7a": {
			"name": "Total Time",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"6d490a9f-5044-4c9d-bb1a-9bd345e2a2d0": {
			"name": "Preparation Time",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"57a53cb7-93b4-43be-9225-4e2ff2c6ed34": {
			"name": "Cooking Time",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"70e33457-d5bd-40a1-935f-0b5c431e1fd0": {
            "name": "Difficulty",
            "description": "",
            "access": "1",
            "default": "",
            "option": {
                "0": {
                    "name": "Easy",
                    "value": "images\/yootheme\/icon-difficulty-easy.svg"
                },
                "1": {
                    "name": "Medium",
                    "value": "images\/yootheme\/icon-difficulty-medium.svg"
                },
                "2": {
                    "name": "Tricky",
                    "value": "images\/yootheme\/icon-difficulty-tricky.svg"
                }
            },
            "multiple": "0",
            "type": "select"
        },
		"346109a4-8ad6-4a33-8d64-529003090589": {
			"name": "Servings",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"886e6ba1-7277-461a-bd55-a586edc67539": {
			"name": "Ingredients",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"element": {
				"0": {
					"name": "Quantity",
					"type": "text"
				},
				"1": {
					"name": "Ingredient",
					"type": "text"
				}
			},
			"type": "group"
		},
		"8fa6bab1-c109-4831-90fd-b05453677188": {
            "name": "Method",
            "description": "",
            "access": "1",
            "repeatable": "1",
            "element": {
                "0": {
                    "name": "Description",
                    "type": "textarea"
                }
            },
            "type": "group"
        },
		"cf97fda8-e7d0-4298-8c79-d1d6d101448e": {
			"name": "Notes",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"88309cea-be94-4d7c-b2bd-db2d9fcf998a": {
			"name": "Video",
			"description": "",
			"access": "1",
			"directory": "images\/recipes\/",
			"defaultwidth": "",
			"defaultheight": "",
			"defaultautoplay": "0",
			"defaultposter_image": "",
			"type": "media"
		},
        "9e7bd594-79fa-4cd8-8b06-33e7198f5010": {
            "name": "Video Poster",
            "description": "",
            "access": "1",
            "upload_directory": "images\/recipes\/",
            "max_upload_size": "20480",
            "type": "image"
        },
		"0868ea8f-eb66-45f1-8277-585ad69830b8": {
			"name": "Video Length",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"7876dccd-c4ac-41a2-94e2-eb2217b8d819": {
			"name": "Similar Recipes",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "recipe"
			},
			"type": "relateditems"
		},
		"855aec20-8c75-4325-abef-01ee75547f1b": {
			"name": "Recommendations",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "recipe"
			},
			"type": "relateditems"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}