{
	"creative-hub.company.submission": {
		"fields": {

		},
		"administration": {

		}
	},
	"design-bites.resource.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "4d01de52-25f4-49d5-9ad7-a19ac97405a0"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "fed6f9af-e29e-41ea-9386-89e44731a5fd"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "34402581-2b9a-4a01-817c-c46356867dae"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "519ccd2f-8e5c-4841-aca6-ca29f58b5624"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "70cf22bd-3252-4dab-a395-6b05eb626e1e"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "3b4583cf-1a34-4c28-b273-9d0b15efd2cc"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "47cf53e4-460f-4f0c-83e6-039442d013fd"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "b86b4983-38a7-4ac4-b211-3b5c3a9f3ed0"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "fa12a8e5-c4f5-40e0-b822-a7e9009cd254"
			}
		}
	},
	"design-bites.resource.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "4d01de52-25f4-49d5-9ad7-a19ac97405a0"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "fed6f9af-e29e-41ea-9386-89e44731a5fd"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "34402581-2b9a-4a01-817c-c46356867dae"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "519ccd2f-8e5c-4841-aca6-ca29f58b5624"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "70cf22bd-3252-4dab-a395-6b05eb626e1e"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "3b4583cf-1a34-4c28-b273-9d0b15efd2cc"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "47cf53e4-460f-4f0c-83e6-039442d013fd"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "b86b4983-38a7-4ac4-b211-3b5c3a9f3ed0"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "fa12a8e5-c4f5-40e0-b822-a7e9009cd254"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	}
}