{
	"creative-hub.company.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "ec9ff483-fe59-4cf5-a7f6-b005061bff15"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "6d0a670a-65d2-4d8e-bfe1-461e9ba79905"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "4fa25d67-aab5-4572-8f32-90df23982988"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "816f8d34-f7dd-476a-8d52-4cefda732171"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "5bd6ee9f-819c-4bdd-9d9d-bfa1a139e5a3"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "ac512217-bcc7-4f1e-bdfc-ba22cdbebe97"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "8ee76bec-f916-4854-acc7-e0a069481361"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "5c0070cf-b43e-401e-8d66-465bd3509334"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "501fce09-2903-47ce-9593-b5eb8ba9657e"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "fd76fff8-206b-4086-beb3-787837709ef9"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "3400256f-b8bb-4e9b-b59c-c356ebc025bc"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "49d77a51-1ca5-4771-8f2f-b240e10a86d2"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "7f527899-6ee7-4c2b-9b25-6a2a4cfc5ae7"
			}
		}
	},
	"creative-hub.company.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "ec9ff483-fe59-4cf5-a7f6-b005061bff15"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "6d0a670a-65d2-4d8e-bfe1-461e9ba79905"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "4fa25d67-aab5-4572-8f32-90df23982988"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "816f8d34-f7dd-476a-8d52-4cefda732171"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "5bd6ee9f-819c-4bdd-9d9d-bfa1a139e5a3"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "ac512217-bcc7-4f1e-bdfc-ba22cdbebe97"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "8ee76bec-f916-4854-acc7-e0a069481361"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "5c0070cf-b43e-401e-8d66-465bd3509334"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "501fce09-2903-47ce-9593-b5eb8ba9657e"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "fd76fff8-206b-4086-beb3-787837709ef9"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "3400256f-b8bb-4e9b-b59c-c356ebc025bc"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "49d77a51-1ca5-4771-8f2f-b240e10a86d2"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "7f527899-6ee7-4c2b-9b25-6a2a4cfc5ae7"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	}
}