{
	"creative-hub.company.submission": {
		"fields": {

		},
		"administration": {

		}
	},
	"kitchen-daily.recipe.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "73b5e51b-ae44-4fa0-bd08-004b214d36d0"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "ae0552fb-2462-45fe-bd69-d150ecc7dbdb"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "6a85fe27-edcb-4d00-815c-6e8ab85fa743"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "936e2e04-af1a-4712-ad02-fdefffd2ab91"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "ea000743-a584-4dd9-957e-b45ec6354e7a"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "6d490a9f-5044-4c9d-bb1a-9bd345e2a2d0"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "57a53cb7-93b4-43be-9225-4e2ff2c6ed34"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "70e33457-d5bd-40a1-935f-0b5c431e1fd0"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "346109a4-8ad6-4a33-8d64-529003090589"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "cf97fda8-e7d0-4298-8c79-d1d6d101448e"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "88309cea-be94-4d7c-b2bd-db2d9fcf998a"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "9e7bd594-79fa-4cd8-8b06-33e7198f5010"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "0868ea8f-eb66-45f1-8277-585ad69830b8"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "7876dccd-c4ac-41a2-94e2-eb2217b8d819"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "855aec20-8c75-4325-abef-01ee75547f1b"
			}
		}
	},
	"kitchen-daily.video.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "c0d44a45-b994-48a3-ae42-1d4dd4ecbf9c"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "9331dab8-7f23-4449-8c87-6be2ba1021a2"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "69fee0b3-2bbe-44ec-8093-8a241406a5ae"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "c923f7db-c220-4023-8f17-f4730e10bb47"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "c1d37e1a-2bb4-412d-89e1-2c0b1fe22690"
			}
		}
	},
	"kitchen-daily.recipe.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "73b5e51b-ae44-4fa0-bd08-004b214d36d0"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "ae0552fb-2462-45fe-bd69-d150ecc7dbdb"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "6a85fe27-edcb-4d00-815c-6e8ab85fa743"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "936e2e04-af1a-4712-ad02-fdefffd2ab91"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "ea000743-a584-4dd9-957e-b45ec6354e7a"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "6d490a9f-5044-4c9d-bb1a-9bd345e2a2d0"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "57a53cb7-93b4-43be-9225-4e2ff2c6ed34"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "70e33457-d5bd-40a1-935f-0b5c431e1fd0"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "346109a4-8ad6-4a33-8d64-529003090589"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "cf97fda8-e7d0-4298-8c79-d1d6d101448e"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "88309cea-be94-4d7c-b2bd-db2d9fcf998a"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "9e7bd594-79fa-4cd8-8b06-33e7198f5010"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "0868ea8f-eb66-45f1-8277-585ad69830b8"
			},
			"16": {
				"altlabel": "",
				"required": "0",
				"element": "7876dccd-c4ac-41a2-94e2-eb2217b8d819"
			},
			"17": {
				"altlabel": "",
				"required": "0",
				"element": "855aec20-8c75-4325-abef-01ee75547f1b"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	},
	"kitchen-daily.video.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "c0d44a45-b994-48a3-ae42-1d4dd4ecbf9c"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "9331dab8-7f23-4449-8c87-6be2ba1021a2"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "69fee0b3-2bbe-44ec-8093-8a241406a5ae"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "c923f7db-c220-4023-8f17-f4730e10bb47"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "c1d37e1a-2bb4-412d-89e1-2c0b1fe22690"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	}
}