{
	"creative-hub.company.submission": {
		"fields": {

		},
		"administration": {

		}
	},
	"tech-space.product.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "355ac5e2-5bcc-4887-9491-69753e5f47b9"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "524ce799-71b2-4ace-b644-35099d62fecb"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "eadb97ff-dd3f-4b1c-b734-77f9b0efb553"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "77bacf08-93b3-4ba5-b385-d5da4f2fbd87"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "57228cc9-30d5-4a08-8f7b-38c702269117"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "71bf5a2e-3b74-4db1-8453-595683296750"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "8f9f1096-6c96-4f90-b19d-063ef08b3682"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "08a8a456-6ace-49e4-a4a0-d18ce9911bee"
			}
		}
	},
	"tech-space.product.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "355ac5e2-5bcc-4887-9491-69753e5f47b9"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "524ce799-71b2-4ace-b644-35099d62fecb"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "eadb97ff-dd3f-4b1c-b734-77f9b0efb553"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "77bacf08-93b3-4ba5-b385-d5da4f2fbd87"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "57228cc9-30d5-4a08-8f7b-38c702269117"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "71bf5a2e-3b74-4db1-8453-595683296750"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "8f9f1096-6c96-4f90-b19d-063ef08b3682"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "08a8a456-6ace-49e4-a4a0-d18ce9911bee"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	}
}