{
	"name": "Resource",
	"elements": {
		"4d01de52-25f4-49d5-9ad7-a19ac97405a0": {
			"name": "Content",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"fed6f9af-e29e-41ea-9386-89e44731a5fd": {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/resources\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"34402581-2b9a-4a01-817c-c46356867dae": {
			"name": "Intro Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/resources\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"1a8f65ce-ebe1-4191-9a2e-99c80f873199": {
			"name": "Images",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"element": {
				"0": {
					"name": "Image",
					"type": "image"
				},
				"1": {
					"name": "Image Alt Text",
					"type": "text"
				}
			},
			"type": "group"
		},
		"519ccd2f-8e5c-4841-aca6-ca29f58b5624": {
			"name": "Format",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "ttf",
					"value": "ttf"
				},
				"1": {
					"name": "otf",
					"value": "otf"
				},
				"2": {
					"name": "abr",
					"value": "abr"
				},
				"3": {
					"name": "psd",
					"value": "psd"
				},
				"4": {
					"name": "ai",
					"value": "ai"
				},
				"5": {
					"name": "xd",
					"value": "xd"
				},
				"6": {
					"name": "sketch",
					"value": "sketch"
				},
				"7": {
					"name": "svg",
					"value": "svg"
				},
				"8": {
					"name": "jpg",
					"value": "jpg"
				},
				"9": {
					"name": "eps",
					"value": "eps"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"70cf22bd-3252-4dab-a395-6b05eb626e1e": {
			"name": "License",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "CC0",
					"value": "CC0"
				},
				"1": {
					"name": "CC BY",
					"value": "CC BY"
				},
				"2": {
					"name": "OFL",
					"value": "OFL"
				},
				"3": {
					"name": "Apache 2.0",
					"value": "Apache 2.0"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"3b4583cf-1a34-4c28-b273-9d0b15efd2cc": {
			"name": "Creator Name",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"47cf53e4-460f-4f0c-83e6-039442d013fd": {
			"name": "Creator Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/resources\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"b86b4983-38a7-4ac4-b211-3b5c3a9f3ed0": {
			"name": "Download",
			"description": "",
			"access": "1",
			"directory": "images\/resources\/",
			"download_mode": "1",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz",
			"upload_directory": "images\/resources\/",
			"max_upload_size": "20480",
			"type": "download"
		},
		"fa12a8e5-c4f5-40e0-b822-a7e9009cd254": {
			"name": "Related Resources",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "resource"
			},
			"order": {
				"0": "_itemname"
			},
			"type": "relateditems"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}