{
	"name": "Episode",
	"elements": {
		"0404ecc4-ff1d-46a7-87ca-25bca3ce89c2": {
			"name": "Content",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"24596dff-6415-4311-b60b-f2f488f0e495": {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/movies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"fad380ed-4133-4834-9b66-f6f13f6ea632": {
			"name": "Image Text Color",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": ""
				},
				"1": {
					"name": "Light",
					"value": "light"
				},
				"2": {
					"name": "Dark",
					"value": "dark"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"ccbb001f-2480-4143-b61e-415efafa7785": {
			"name": "Intro Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/movies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"3e0b38cc-0537-40e6-b634-7f910a17474d": {
			"name": "Teaser Title",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"340cbe1a-68c2-42b9-a157-54d4e5b059f6": {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/movies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"6a073c6d-f55a-479b-a8c4-f7cec0c2bebd": {
			"name": "Teaser Image Text Color",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": ""
				},
				"1": {
					"name": "Light",
					"value": "light"
				},
				"2": {
					"name": "Dark",
					"value": "dark"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"a95c5ab5-2940-42a5-a4a4-8dd3316721c6": {
			"name": "Season",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Season 1",
					"value": "season-1"
				},
				"1": {
					"name": "Season 2",
					"value": "season-2"
				},
				"2": {
					"name": "Season 3",
					"value": "season-3"
				},
				"3": {
					"name": "Season 4",
					"value": "season-4"
				},
				"4": {
					"name": "Season 5",
					"value": "season-5"
				},
				"5": {
					"name": "Season 6",
					"value": "season-6"
				},
				"6": {
					"name": "Season 7",
					"value": "season-7"
				},
				"7": {
					"name": "Season 8",
					"value": "season-8"
				},
				"8": {
					"name": "Season 9",
					"value": "season-9"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"a4f47f66-380d-46cb-a11a-8d60e37256d9": {
			"name": "Episode",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Episode 1",
					"value": "episode-1"
				},
				"1": {
					"name": "Episode 2",
					"value": "episode-2"
				},
				"2": {
					"name": "Episode 3",
					"value": "episode-3"
				},
				"3": {
					"name": "Episode 4",
					"value": "episode-4"
				},
				"4": {
					"name": "Episode 5",
					"value": "episode-5"
				},
				"5": {
					"name": "Episode 6",
					"value": "episode-6"
				},
				"6": {
					"name": "Episode 7",
					"value": "episode-7"
				},
				"7": {
					"name": "Episode 8",
					"value": "episode-8"
				},
				"8": {
					"name": "Episode 9",
					"value": "episode-9"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"11e06dd4-6926-4136-a951-3d095aac7b0b": {
			"name": "Summary",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"8e54e45a-b6b0-4dee-a250-127e0432d3f9": {
			"name": "Directors",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ba9f8150-d489-4778-83d4-9c1d96760ca8": {
			"name": "Writers",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"bf480932-4d2b-4ff9-9b12-fbf6155d4c30": {
			"name": "Runtime",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"35d5a2df-34cf-4be7-ada2-9addd09119d8": {
			"name": "Release Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"f3bd5383-2a09-4823-ae30-94487deb1deb": {
			"name": "Actors",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "actor"
			},
			"order": {
				"0": "_itemname"
			},
			"type": "relateditems"
		},
		"ee58c8e0-c42b-4544-9258-4496e6aa7963": {
			"name": "Related Episodes",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "episode"
			},
			"order": {
				"0": "_itemname"
			},
			"type": "relateditems"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}