{
	"name": "Movie",
	"elements": {
		"2ce7f311-8978-466c-9b01-cb6e5e21ae09": {
			"name": "Content",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"a2024e86-fc67-458b-87a2-08b23e0137b1": {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/movies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"3e5b3e78-f93d-4c5e-b379-1cbb0d673364": {
			"name": "Image Text Color",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": ""
				},
				"1": {
					"name": "Light",
					"value": "light"
				},
				"2": {
					"name": "Dark",
					"value": "dark"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"6c7159fe-39e0-4c94-9ae0-396a8b32b812": {
			"name": "Intro Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/movies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"4c7b9ef3-4769-4bdb-b416-70066f942f4e": {
			"name": "Teaser Title",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"0045d57b-5bfe-4798-9073-9c2ea74aeace": {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/movies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"0c6c37dd-0837-49ba-9300-e5b227c38437": {
			"name": "Teaser Image Text Color",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "None",
					"value": ""
				},
				"1": {
					"name": "Light",
					"value": "light"
				},
				"2": {
					"name": "Dark",
					"value": "dark"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"fd3527c6-8789-4b28-ad0e-71a5024be275": {
			"name": "Summary",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"c9906a63-35d9-4c76-aefc-1cc642b31d7c": {
			"name": "Directors",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"62162b7f-2e0e-4d51-b7b7-c6691bd5eae7": {
			"name": "Writers",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"126b5a8d-f716-4a92-b7e8-562d12ed6da2": {
			"name": "Runtime",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"548d9e4b-69fe-4d18-badd-48cbb1061746": {
			"name": "Country",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ec8e3d5e-b687-49ea-9782-c9af551d4a90": {
			"name": "Release Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"3d4bd7e2-32d9-47bc-a5ea-4ee03fd0bafb": {
			"name": "Studio",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"9f64930c-34c7-4bda-a214-a05a8db98387": {
			"name": "Actors",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "actor"
			},
			"order": {
				"0": "_itemname"
			},
			"type": "relateditems"
		},
		"922b678c-0c90-4fbb-9505-c2da06a336ab": {
			"name": "Links",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"57341ae6-6e2a-492f-88f2-2412acbce2a8": {
			"name": "Related Movies",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "movie"
			},
			"order": {
				"0": "_itemname"
			},
			"type": "relateditems"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}