{
	"name": "Company",
	"elements": {
		"ec9ff483-fe59-4cf5-a7f6-b005061bff15": {
			"name": "Content",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6d0a670a-65d2-4d8e-bfe1-461e9ba79905": {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/companies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"4fa25d67-aab5-4572-8f32-90df23982988": {
			"name": "Intro Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/companies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"816f8d34-f7dd-476a-8d52-4cefda732171": {
			"name": "Logo",
			"description": "",
			"access": "1",
			"upload_directory": "images\/companies\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"5bd6ee9f-819c-4bdd-9d9d-bfa1a139e5a3": {
			"name": "Street",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"ac512217-bcc7-4f1e-bdfc-ba22cdbebe97": {
			"name": "City",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"8ee76bec-f916-4854-acc7-e0a069481361": {
			"name": "Country",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5c0070cf-b43e-401e-8d66-465bd3509334": {
			"name": "E-mail",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "email"
		},
		"501fce09-2903-47ce-9593-b5eb8ba9657e": {
			"name": "Phone",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"fd76fff8-206b-4086-beb3-787837709ef9": {
			"name": "Website",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"3400256f-b8bb-4e9b-b59c-c356ebc025bc": {
			"name": "Socials",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default_target": "0",
			"add_protocol": "1",
			"type": "link"
		},
		"49d77a51-1ca5-4771-8f2f-b240e10a86d2": {
			"name": "Services",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "Advertising",
					"value": "advertising"
				},
				"1": {
					"name": "Animation",
					"value": "animation"
				},
				"2": {
					"name": "App Development",
					"value": "app-development"
				},
				"3": {
					"name": "Branding",
					"value": "branding"
				},
				"4": {
					"name": "Concept Design",
					"value": "concept-design"
				},
				"5": {
					"name": "Editorial Design",
					"value": "editorial-design"
				},
				"6": {
					"name": "Experience Design",
					"value": "experience-design"
				},
				"7": {
					"name": "Illustration",
					"value": "illustration"
				},
				"8": {
					"name": "Marketing",
					"value": "marketing"
				},
				"9": {
					"name": "Photography",
					"value": "photography"
				},
				"10": {
					"name": "Print",
					"value": "print"
				},
				"11": {
					"name": "Social Marketing",
					"value": "social-marketing"
				},
				"12": {
					"name": "Web Design",
					"value": "web-design"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"f0ac00a4-9d6f-45e1-aa00-8990f105acbd": {
			"name": "Projects",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"element": {
				"0": {
					"name": "Title",
					"type": "text"
				},
				"1": {
					"name": "Description",
					"type": "textarea"
				},
				"2": {
					"name": "Image",
					"type": "image"
				},
				"3": {
					"name": "Image Alt Text",
					"type": "text"
				},
				"4": {
					"name": "Services",
					"type": "text"
				},
				"5": {
					"name": "Link",
					"type": "text"
				}
			},
			"type": "group"
		},
		"7f527899-6ee7-4c2b-9b25-6a2a4cfc5ae7": {
			"name": "Clients",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}