{
	"name": "Product",
	"elements": {
		"355ac5e2-5bcc-4887-9491-69753e5f47b9": {
			"name": "Content",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"524ce799-71b2-4ace-b644-35099d62fecb": {
			"name": "Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/products\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"eadb97ff-dd3f-4b1c-b734-77f9b0efb553": {
			"name": "Intro Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/products\/",
			"max_upload_size": "20480",
			"type": "image"
		},
		"77bacf08-93b3-4ba5-b385-d5da4f2fbd87": {
			"name": "Subtitle",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"57228cc9-30d5-4a08-8f7b-38c702269117": {
			"name": "Price",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"71bf5a2e-3b74-4db1-8453-595683296750": {
			"name": "Headline",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"456864d1-1f50-4caf-a59d-98a49ef1018b": {
			"name": "Images",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"element": {
				"0": {
					"name": "Image",
					"type": "image"
				},
				"1": {
					"name": "Image Alt Text",
					"type": "text"
				}
			},
			"type": "group"
		},
		"87e99f39-b0e8-470f-96d1-2e9788ca67f8": {
			"name": "Specification",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"element": {
				"0": {
					"name": "Title",
					"type": "text"
				},
				"1": {
					"name": "Content",
					"type": "textarea"
				}
			},
			"type": "group"
		},
		"8f9f1096-6c96-4f90-b19d-063ef08b3682": {
			"name": "In the box",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"0f1bdd93-5bbe-4ac1-9a7f-1ed8f21a4494": {
			"name": "FAQ",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"element": {
				"0": {
					"name": "Title",
					"type": "text"
				},
				"1": {
					"name": "Content",
					"type": "textarea"
				}
			},
			"type": "group"
		},
		"08a8a456-6ace-49e4-a4a0-d18ce9911bee": {
			"name": "Related Products",
			"description": "",
			"access": "1",
			"app_id": "",
			"selectable_types": {
				"0": "product"
			},
			"type": "relateditems"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}