{
	"creative-hub.company.submission": {
		"fields": {

		},
		"administration": {

		}
	},
	"framerate.actor.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "ada8fe57-bb86-4409-b89d-4c3c46b48a3c"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "75e57258-ae6a-4667-972f-d773cdb58806"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "34bbb1d8-5bfb-4697-85a8-5c175f835648"
			}
		}
	},
	"framerate.episode.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "0404ecc4-ff1d-46a7-87ca-25bca3ce89c2"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "24596dff-6415-4311-b60b-f2f488f0e495"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "fad380ed-4133-4834-9b66-f6f13f6ea632"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "ccbb001f-2480-4143-b61e-415efafa7785"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "3e0b38cc-0537-40e6-b634-7f910a17474d"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "340cbe1a-68c2-42b9-a157-54d4e5b059f6"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "6a073c6d-f55a-479b-a8c4-f7cec0c2bebd"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "a95c5ab5-2940-42a5-a4a4-8dd3316721c6"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "a4f47f66-380d-46cb-a11a-8d60e37256d9"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "11e06dd4-6926-4136-a951-3d095aac7b0b"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "8e54e45a-b6b0-4dee-a250-127e0432d3f9"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "ba9f8150-d489-4778-83d4-9c1d96760ca8"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "bf480932-4d2b-4ff9-9b12-fbf6155d4c30"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "35d5a2df-34cf-4be7-ada2-9addd09119d8"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "f3bd5383-2a09-4823-ae30-94487deb1deb"
			},
			"16": {
				"altlabel": "",
				"required": "0",
				"element": "ee58c8e0-c42b-4544-9258-4496e6aa7963"
			}
		}
	},
	"framerate.movie.submission": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "2ce7f311-8978-466c-9b01-cb6e5e21ae09"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "a2024e86-fc67-458b-87a2-08b23e0137b1"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "3e5b3e78-f93d-4c5e-b379-1cbb0d673364"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "6c7159fe-39e0-4c94-9ae0-396a8b32b812"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "4c7b9ef3-4769-4bdb-b416-70066f942f4e"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "0045d57b-5bfe-4798-9073-9c2ea74aeace"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "0c6c37dd-0837-49ba-9300-e5b227c38437"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "fd3527c6-8789-4b28-ad0e-71a5024be275"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "c9906a63-35d9-4c76-aefc-1cc642b31d7c"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "62162b7f-2e0e-4d51-b7b7-c6691bd5eae7"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "126b5a8d-f716-4a92-b7e8-562d12ed6da2"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "548d9e4b-69fe-4d18-badd-48cbb1061746"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "ec8e3d5e-b687-49ea-9782-c9af551d4a90"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "3d4bd7e2-32d9-47bc-a5ea-4ee03fd0bafb"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "9f64930c-34c7-4bda-a214-a05a8db98387"
			},
			"16": {
				"altlabel": "",
				"required": "0",
				"element": "922b678c-0c90-4fbb-9505-c2da06a336ab"
			},
			"17": {
				"altlabel": "",
				"required": "0",
				"element": "57341ae6-6e2a-492f-88f2-2412acbce2a8"
			}
		}
	},
	"framerate.actor.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "ada8fe57-bb86-4409-b89d-4c3c46b48a3c"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "75e57258-ae6a-4667-972f-d773cdb58806"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "34bbb1d8-5bfb-4697-85a8-5c175f835648"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	},
	"framerate.episode.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "0404ecc4-ff1d-46a7-87ca-25bca3ce89c2"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "24596dff-6415-4311-b60b-f2f488f0e495"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "fad380ed-4133-4834-9b66-f6f13f6ea632"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "ccbb001f-2480-4143-b61e-415efafa7785"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "3e0b38cc-0537-40e6-b634-7f910a17474d"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "340cbe1a-68c2-42b9-a157-54d4e5b059f6"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "6a073c6d-f55a-479b-a8c4-f7cec0c2bebd"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "a95c5ab5-2940-42a5-a4a4-8dd3316721c6"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "a4f47f66-380d-46cb-a11a-8d60e37256d9"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "11e06dd4-6926-4136-a951-3d095aac7b0b"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "8e54e45a-b6b0-4dee-a250-127e0432d3f9"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "ba9f8150-d489-4778-83d4-9c1d96760ca8"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "bf480932-4d2b-4ff9-9b12-fbf6155d4c30"
			},
			"16": {
				"altlabel": "",
				"required": "0",
				"element": "35d5a2df-34cf-4be7-ada2-9addd09119d8"
			},
			"17": {
				"altlabel": "",
				"required": "0",
				"element": "f3bd5383-2a09-4823-ae30-94487deb1deb"
			},
			"18": {
				"altlabel": "",
				"required": "0",
				"element": "ee58c8e0-c42b-4544-9258-4496e6aa7963"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	},
	"framerate.movie.edit": {
		"fields": {
			"0": {
				"altlabel": "",
				"required": "0",
				"element": "_itemname"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"multiple": "1",
				"primary": "0",
				"element": "_itemcategory"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"element": "_itemtag"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "2ce7f311-8978-466c-9b01-cb6e5e21ae09"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "a2024e86-fc67-458b-87a2-08b23e0137b1"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "3e5b3e78-f93d-4c5e-b379-1cbb0d673364"
			},
			"6": {
				"altlabel": "",
				"required": "0",
				"element": "6c7159fe-39e0-4c94-9ae0-396a8b32b812"
			},
			"7": {
				"altlabel": "",
				"required": "0",
				"element": "4c7b9ef3-4769-4bdb-b416-70066f942f4e"
			},
			"8": {
				"altlabel": "",
				"required": "0",
				"element": "0045d57b-5bfe-4798-9073-9c2ea74aeace"
			},
			"9": {
				"altlabel": "",
				"required": "0",
				"element": "0c6c37dd-0837-49ba-9300-e5b227c38437"
			},
			"10": {
				"altlabel": "",
				"required": "0",
				"element": "fd3527c6-8789-4b28-ad0e-71a5024be275"
			},
			"11": {
				"altlabel": "",
				"required": "0",
				"element": "c9906a63-35d9-4c76-aefc-1cc642b31d7c"
			},
			"12": {
				"altlabel": "",
				"required": "0",
				"element": "62162b7f-2e0e-4d51-b7b7-c6691bd5eae7"
			},
			"13": {
				"altlabel": "",
				"required": "0",
				"element": "126b5a8d-f716-4a92-b7e8-562d12ed6da2"
			},
			"14": {
				"altlabel": "",
				"required": "0",
				"element": "548d9e4b-69fe-4d18-badd-48cbb1061746"
			},
			"15": {
				"altlabel": "",
				"required": "0",
				"element": "ec8e3d5e-b687-49ea-9782-c9af551d4a90"
			},
			"16": {
				"altlabel": "",
				"required": "0",
				"element": "3d4bd7e2-32d9-47bc-a5ea-4ee03fd0bafb"
			},
			"17": {
				"altlabel": "",
				"required": "0",
				"element": "9f64930c-34c7-4bda-a214-a05a8db98387"
			},
			"18": {
				"altlabel": "",
				"required": "0",
				"element": "922b678c-0c90-4fbb-9505-c2da06a336ab"
			},
			"19": {
				"altlabel": "",
				"required": "0",
				"element": "57341ae6-6e2a-492f-88f2-2412acbce2a8"
			}
		},
		"administration": {
			"0": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemstate"
			},
			"1": {
				"altlabel": "",
				"required": "0",
				"default": "1",
				"element": "_itemsearchable"
			},
			"2": {
				"altlabel": "",
				"required": "0",
				"default": "0",
				"element": "_itemfrontpage"
			},
			"3": {
				"altlabel": "",
				"required": "0",
				"element": "_itemaccess"
			},
			"4": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_up"
			},
			"5": {
				"altlabel": "",
				"required": "0",
				"element": "_itempublish_down"
			}
		}
	}
}